.input-group{
    width: 100%;
}
.input-group-addon{
    width: 10%;
    text-align: left;
}
.form-control {
    width: 90%;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}